* {
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.background {
    background-color: rgb(23, 100, 168);
    min-height: 100vh;
}

.content {
    max-width: 960px;
    margin: auto;
}

.header {
    font-family: 'Fredoka One', cursive;
    color: azure;
    text-shadow: 0px 3px gray;
    text-align: center;
    padding: 100px;
}

.center {
    background-color: rgb(11, 83, 148);
    box-shadow: 0px 0px 30px 40px rgb(11, 83, 148);
    min-height: 50vh;
    padding: 10px 10px;
}

.video {
    display: block;
    margin: 10px auto;
}

.discord {
    display: block;
    margin: 10px auto;
}

.description {
    display: block;
    margin: 20px auto;
    padding-left: 60px;
    padding-right: 60px;
}
